body {
    text-align: center;
    background-image:  url(./Assets/d919f66c7249971d1586120f19a428592b21d2e26a967ad3d36d093eb1cfa127._RI_TTW_.jpg);
    background-size: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background-position: center;
    
    background-repeat: no-repeat;
}

button {
    border-radius: 5px;
    font-size: 25px;
    font-style: italic;
    margin: 5px;
    background-color: rgb(107, 8, 8);
    color: white;
}

#title {
    font-weight: bold; 
    background-color: rgba(128, 128, 128, 0.8); 
    padding: 40px;
    color: rgb(107, 8, 8);
    border-radius: 5px;
    margin-left: 150px;
    margin-right: 100px;
   
    border: 5px;
    border-color: black;
    border-style: solid; 
}

#question-div {
    font-weight: bold; 
    background-color: rgba(128, 128, 128, 0.8); 
    padding: 40px;
    color: rgb(107, 8, 8);
    border-radius: 5px;
    margin-left: 150px;
    margin-right: 100px;
   
    border: 5px;
    border-color: black;
    border-style: solid; 
}

#timer-element {
    padding: 5px;
    color: white;
    border-radius: 5px;
    margin-left: 150px;
    margin-right: 100px;
    background-color: gray;
    font-size: 20px;
    border: 5px;
    border-color: black;
    border-style: solid; 
}

#question {
    background-color: rgb(107, 8, 8);
    padding: 40px;
    color: white;
    border-radius: 5px;
    margin: 10px;
    border: 5px;
    border-color: black;
    border-style: solid;

}

#answer-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold; 
    background-color: rgba(128, 128, 128, 0.8); 
    padding: 40px;
    color: rgb(107, 8, 8);
    border-radius: 5px;
    margin-left: 150px;
    margin-right: 100px;
   
    border: 5px;
    border-color: black;
    border-style: solid; 
}

#answer-options h3 {
    font-size: 36px;
    font-weight: bold;

}

#score {
    background-color: rgb(107, 8, 8, 0.8);
    padding: 40px;
    color: white;
    border-radius: 5px;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 10px;
    border: 5px;
    border-color: black;
    border-style: solid;
}


#high-score-div ol {
    text-align: left;
}

// Creates alternating background colors for the list items
#high-score-div li:nth-child(odd) {
    background-color: bisque;
    padding: 10px;
}

#high-score-div li:nth-child(even) {
    
    background: gray;
}

// Creates media queries
@media screen and (max-width: 768px) {
    body {
        background-size: cover;
    }

    #title, #question-div, #timer-element, #answer-options, #score {
        margin-left: 10px;
        margin-right: 10px;
    }

    button {
        font-size: 20px;
    }

    #title, #question-div, #timer-element, #answer-options, #score {
        padding: 20px;
    }

    #question {
        padding: 20px;
    }
}

/* Media query for screens smaller than 480 pixels (e.g., smartphones) */
@media screen and (max-width: 480px) {
    body {
        background-size: cover;
    }

    #title, #question-div, #timer-element, #answer-options, #score {
        margin-left: 5px;
        margin-right: 5px;
    }

    button {
        font-size: 18px;
    }

    #title, #question-div, #timer-element, #answer-options, #score {
        padding: 15px;
    }

    #question {
        padding: 15px;
    }
}